<footer id="footer" class="red-bg">
    <div class="flex justify-space-around">
        <div class="flex direction-column align-center">
            <h2 class="footer-title">Contactos</h2>
            <a href="" class="text-decoration-none black-txt">
                Email
                <i class="fas fa-at icon-footer"></i>
            </a>
            <a href="" class="text-decoration-none black-txt">
                Telefono
                <i class="fas fa-phone icon-footer"></i>
            </a>
        </div>
        <div class="flex direction-column align-center">
            <h2 class="footer-title">Redes sociales</h2>
            <a href="" class="text-decoration-none black-txt">
                Instagram
                <i class="fab fa-instagram icon-footer"></i>
            </a>

            <a href="" class="text-decoration-none black-txt">
                Facebook
                <i class="fab fa-facebook icon-footer"></i>
            </a>
        </div>
    </div>
</footer>
