<header class="padding-8 red-bg">
    <div class="flex justify-space-between align-center">
        <div class="main-menu hide-md">
            <a href="#" class="hamburger-menu">
                <i
                    class="fas fa-ellipsis-v burger-menu font-size-20 black.txt"
                ></i>
            </a>
            <div class="menu-content">
                <ul class="nav-menu">
                    <li><a href="#mother">Mothers</a></li>
                    <li><a href="#procesadores">Procesadores</a></li>
                    <li><a href="#fuentes">Fuentes</a></li>
                    <li>
                        <a href="#placas de video">Placas de video</a>
                    </li>
                    <li><a href="#perifericos">Perifericos</a></li>
                </ul>
            </div>
        </div>
        <a href="/" class="main-logo">
            <img id="logo" src="/images/logo.png" alt="Logo" />
        </a>
        <div class="search-bar">
            <form action="POST">
                <label class="" for="search">
                    <i class="fas fa-search"></i>
                </label>
                <input
                    id="search"
                    type="text"
                    name="search"
                    placeholder="Motherboards, gráficas, etc."
                />
            </form>
        </div>
        <a
            class="cart text-decoration-none font-size-20 black-txt"
            href="/cart"
        >
            <i class="fas fa-shopping-cart"></i>
        </a>
        <a
            class="link-header text-decoration-none font-size-20 black-txt"
            href="/login"
        >
            Log in
        </a>
        <a
            class="
                link-header
                text-decoration-none
                font-size-20
                black-txt
                hide
                show-md
            "
            href="/register"
        >
            Registrarse
        </a>
    </div>
    <nav id="main-nav" class="hide show-md">
        <ul class="w-50 margin-auto flex justify-space-between">
            <li><a href="#">Mothers</a></li>
            <li><a href="#">Procesadores</a></li>
            <li><a href="#">Fuentes</a></li>
            <li><a href="#">Placa de video</a></li>
            <li><a href="#">Perifericos</a></li>
        </ul>
    </nav>
</header>
