<div class="slide-show">
    <ul class="slider">
        <li id="slide1">
            <img src="/images/hardagamers.png" style="width: 100%" />
        </li>
        <li id="slide2">
            <img src="/images/banner.jfif" style="width: 100%" />
        </li>
        <li id="slide3">
            <img src="/images/hardagamers.png" style="width: 100%" />
        </li>
    </ul>

    <ul class="menu">
        <li>
            <a href="#slide1"></a>
        </li>
        <li>
            <a href="#slide2"></a>
        </li>
        <li>
            <a href="#slide3"></a>
        </li>
    </ul>
</div>
