<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/utils.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
    </head>
    <body>
        <header class="padding-8 red-bg">
            <div class="flex justify-space-between align-center">
                <div class="main-menu hide-md">
                    <a href="#" class="hamburger-menu">
                        <i
                            class="
                                fas
                                fa-ellipsis-v
                                burger-menu
                                font-size-20
                                black.txt
                            "
                        ></i>
                    </a>
                    <div class="menu-content">
                        <ul class="nav-menu">
                            <li><a href="#mother">Mothers</a></li>
                            <li><a href="#procesadores">Procesadores</a></li>
                            <li><a href="#fuentes">Fuentes</a></li>
                            <li>
                                <a href="#placas de video">Placas de video</a>
                            </li>
                            <li><a href="#perifericos">Perifericos</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/" class="main-logo">
                    <img id="logo" src="/images/logo.png" alt="Logo" />
                </a>
                <div class="search-bar">
                    <form action="POST">
                        <label class="" for="search">
                            <i class="fas fa-search"></i>
                        </label>
                        <input
                            id="search"
                            type="text"
                            name="search"
                            placeholder="Motherboards, gráficas, etc."
                        />
                    </form>
                </div>
                <a
                    class="cart text-decoration-none font-size-20 black-txt"
                    href="/cart"
                >
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a
                    class="
                        link-header
                        text-decoration-none
                        font-size-20
                        black-txt
                    "
                    href="/login"
                >
                    Log in
                </a>
                <a
                    class="
                        link-header
                        text-decoration-none
                        font-size-20
                        black-txt
                        hide
                        show-md
                    "
                    href="/register"
                >
                    Registrarse
                </a>
            </div>
            <nav id="main-nav" class="hide show-md">
                <ul class="w-50 margin-auto flex justify-space-between">
                    <li><a href="#">Mothers</a></li>
                    <li><a href="#">Procesadores</a></li>
                    <li><a href="#">Fuentes</a></li>
                    <li><a href="#">Placa de video</a></li>
                    <li><a href="#">Perifericos</a></li>
                </ul>
            </nav>
        </header>

        <div class="carousel">
            <div class="container-all">
                <input type="radio" id="1" name="image-slide" hidden />
                <input type="radio" id="2" name="image-slide" hidden />
                <input type="radio" id="3" name="image-slide" hidden />
                <input type="radio" id="4" name="image-slide" hidden />

                <div class="slide">
                    <div class="item-slide">
                        <img src="/images/hardagamers.png" />
                    </div>
                    <div class="item-slide">
                        <img src="/images/Aero-1920x500-1.jpg" />
                    </div>
                    <div class="item-slide">
                        <img src="/images/Asus-slider-aura.jpg" />
                    </div>
                    <div class="item-slide">
                        <img src="/images/Precio-Calidad.jpg" />
                    </div>
                </div>

                <div class="pagination">
                    <label for="1" class="pagination-item">
                        <img src="/images/hardagamers.png" />
                    </label>
                    <label for="2" class="pagination-item">
                        <img src="/images/Aero-1920x500-1.jpg" />
                    </label>
                    <label for="3" class="pagination-item">
                        <img src="/images/Asus-slider-aura.jpg" />
                    </label>
                    <label for="4" class="pagination-item">
                        <img src="/images/Precio-Calidad.jpg" />
                    </label>
                </div>
            </div>
        </div>

        <main id="main-content">
            <div class="rapid-search-icons">
                <a
                    href="/login"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-laptop"></i>
                    <div>Notebook</div>
                </a>
                <a
                    href="/register"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-mouse"></i>
                    <div>Perifericos</div>
                </a>
                <a
                    href="/cart"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-microchip"></i>
                    <div>Componentes</div>
                </a>
                <a
                    href="/detail"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-tv"></i>
                    <div>Monitores</div>
                </a>
            </div>
            <div class="flex justify-space-around">
                <article
                    class="flex product align-center justify-space-around w-100"
                >
                    <img
                        class="product-img"
                        src="/images/3060-TI.jfif"
                        alt="3060 Ti"
                    />
                    <div class="flex direction-column">
                        <h2>Tarjeta Gráfica</h2>
                        <p>$160.000</p>
                        <p>Gigabyte rtx 3060 Ti</p>
                    </div>
                </article>
                <article
                    class="flex product align-center justify-space-around w-100"
                >
                    <img
                        class="product-img"
                        src="/images/Rysen5-3600.jfif"
                        alt="Ryzen 5 3600"
                    />
                    <div class="flex direction-column">
                        <h2>Procesador</h2>
                        <p>$30.000</p>
                        <p>Ryzen 5 3600</p>
                    </div>
                </article>
                <article
                    class="flex product align-center justify-space-around w-100"
                >
                    <img
                        class="product-img"
                        src="/images/Rysen5-3600.jfif"
                        alt="Ryzen 5 3600"
                    />
                    <div class="flex direction-column">
                        <h2>Procesador</h2>
                        <p>$30.000</p>
                        <p>Ryzen 5 3600</p>
                    </div>
                </article>
                <article
                    class="flex product align-center justify-space-around w-100"
                >
                    <img
                        class="product-img"
                        src="/images/3060-TI.jfif"
                        alt="3060 Ti"
                    />
                    <div class="flex direction-column">
                        <h2>Tarjeta Gráfica</h2>
                        <p>$160.000</p>
                        <p>Gigabyte rtx 3060 Ti</p>
                    </div>
                </article>
            </div>
        </main>
        <footer id="footer" class="red-bg">
            <div class="flex justify-space-around">
                <div class="flex direction-column align-center">
                    <h2 class="footer-title">Contactos</h2>
                    <a href="" class="text-decoration-none black-txt">
                        Email
                        <i class="fas fa-at icon-footer"></i>
                    </a>
                    <a href="" class="text-decoration-none black-txt">
                        Telefono
                        <i class="fas fa-phone icon-footer"></i>
                    </a>
                </div>
                <div class="flex direction-column align-center">
                    <h2 class="footer-title">Redes sociales</h2>
                    <a href="" class="text-decoration-none black-txt">
                        Instagram
                        <i class="fab fa-instagram icon-footer"></i>
                    </a>

                    <a href="" class="text-decoration-none black-txt">
                        Facebook
                        <i class="fab fa-facebook icon-footer"></i>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
