<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Carrito</title>
    </head>
    <body>
        <%- include("./partials/header") %> 
        <%- include("./partials/slide-show")%>
        <main id="main-content">
            <div class="box-position-relative padding-bottom">
                <!-- El padding bottom es para que el
                footer no pise a los botones y al total, 
                que estan en una pocicion absoluta-->
                <div class="flex justify-space-around">
                    <article
                        class="
                            flex
                            product
                            align-center
                            justify-space-around
                            w-100
                        "
                    >
                        <img
                            class="product-img"
                            src="/images/3060-TI.jfif"
                            alt="3060 Ti"
                        />
                        <div class="flex direction-column">
                            <h2>Tarjeta Gráfica</h2>
                            <p>$160.000</p>
                            <h3>Gigabyte rtx 3060 Ti</h3>
                        </div>
                    </article>
                    <article
                        class="
                            flex
                            product
                            align-center
                            justify-space-around
                            w-100
                        "
                    >
                        <img
                            class="product-img"
                            src="/images/Rysen5-3600.jfif"
                            alt="Ryzen 5 3600"
                        />
                        <div class="flex direction-column">
                            <h2>Procesador</h2>
                            <p>$30.000</p>
                            <h3>Ryzen 5 3600</h3>
                        </div>
                    </article>
                </div>
                <div
                    class="
                        flex
                        box-position-absolute
                        padding-top
                        align-center
                        w-100
                        justify-content-space-around
                    "
                >
                    <div class="flex-item">
                        <h2>Total: $190.000</h2>
                    </div>
                    <div class="flex cart-button-direction">
                        <div class="flex-item">
                            <button class="button-cart" type="submit">
                                Comprar
                            </button>
                        </div>
                        <div class="flex-item">
                            <button class="button-cart" type="button">
                                Vaciar el carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
