<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Detail</title>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/slide-show")
        %>
        <main>
            <div class="flex justify-space-around">
                <article
                    class="
                        flex-detail
                        product-detail
                        align-center
                        justify-space-around
                        w-100
                    "
                >
                    <img
                        class="product-img-detail"
                        src="/images/3060-TI.jfif"
                        alt="3060 Ti"
                    />

                    <div class="flex direction-column">
                        <h2>Gigabyte rtx 3060 Ti</h2>
                        <h3>Tarjeta Gráfica</h3>
                        <p>$160.000</p>

                        <p class="flex-detail-text">
                            <button class="detail button-form" type="submit">
                                Comprar
                            </button>
                            <button class="detail button-form" type="submit">
                                Agregar al carrito
                            </button>
                        </p>

                        <h1>Descripción</h1>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Cras metus leo, lacinia vitae blandit sed,
                            faucibus ut erat. Ut nec magna sit amet lectus
                            varius maximus. Nulla vehicula a leo eu vehicula. Ut
                            ultrices fringilla tellus et luctus. Sed
                            pellentesque erat sit amet nulla iaculis facilisis.
                            Class aptent taciti sociosqu ad litora torquent per
                            conubia nostra, per inceptos himenaeos. Duis et
                            semper mi.
                        </p>
                    </div>
                </article>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
