<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Detalles del producto</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/utils.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
    </head>
    <body>
        <header class="padding-8 red-bg">
            <div class="flex justify-space-between align-center">
                <input
                    type="checkbox"
                    class="toggle-check"
                    id="toggle"
                    hidden
                />
                <label class="toggle" for="toggle">
                    <i
                        class="
                            fas
                            fa-ellipsis-v
                            burger-menu
                            font-size-20
                            black.txt
                        "
                    ></i>
                </label>
                <div class="container-menu">
                    <nav class="menu">
                        <a href="#" class="item">Mothers</a>
                        <a href="#" class="item">Procesadores</a>
                        <a href="#" class="item">Fuentes</a>
                        <a href="#" class="item">Placas de video</a>
                        <a href="#" class="item">Perifericos</a>
                    </nav>
                </div>
                <a href="/" class="main-logo">
                    <img id="logo" src="/images/logo.png" alt="Logo" />
                </a>
                <div class="search-bar">
                    <form action="POST">
                        <label class="" for="search">
                            <i class="fas fa-search"></i>
                        </label>
                        <input
                            id="search"
                            type="text"
                            name="search"
                            placeholder="Motherboards, gráficas, etc."
                        />
                    </form>
                </div>
                <a
                    class="cart text-decoration-none font-size-20 black-txt"
                    href="/cart"
                >
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a
                    class="
                        link-header
                        text-decoration-none
                        font-size-20
                        black-txt
                    "
                    href="/login"
                >
                    Log in
                </a>
                <a
                    class="
                        link-header
                        text-decoration-none
                        font-size-20
                        black-txt
                        hide
                        show-md
                    "
                    href="/register"
                >
                    Registrarse
                </a>
            </div>
            <nav id="main-nav" class="hide show-md">
                <ul class="w-50 margin-auto flex justify-space-between">
                    <li><a href="#">Mothers</a></li>
                    <li><a href="#">Procesadores</a></li>
                    <li><a href="#">Fuentes</a></li>
                    <li><a href="#">Placa de video</a></li>
                    <li><a href="#">Perifericos</a></li>
                </ul>
            </nav>
        </header>
        <div class="banner">
            <img src="/images/hardagamers.png" alt="banner" width="100%" />
        </div>

        <main>
            <div class="flex justify-space-around">
                <article
                    class="
                        flex-detail
                        product-detail
                        align-center
                        justify-space-around
                        w-100
                    "
                >
                    <img
                        class="product-img-detail"
                        src="/images/3060-TI.jfif"
                        alt="3060 Ti"
                    />

                    <div class="flex direction-column">
                        <h2>Gigabyte rtx 3060 Ti</h2>
                        <h3>Tarjeta Gráfica</h3>
                        <p>$160.000</p>

                        <p class="flex-detail-text">
                            <button class="detail button-form" type="submit">
                                Comprar
                            </button>
                            <button class="detail button-form" type="submit">
                                Agregar al carrito
                            </button>
                        </p>

                        <h1>Descripción</h1>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Cras metus leo, lacinia vitae blandit sed,
                            faucibus ut erat. Ut nec magna sit amet lectus
                            varius maximus. Nulla vehicula a leo eu vehicula. Ut
                            ultrices fringilla tellus et luctus. Sed
                            pellentesque erat sit amet nulla iaculis facilisis.
                            Class aptent taciti sociosqu ad litora torquent per
                            conubia nostra, per inceptos himenaeos. Duis et
                            semper mi.
                        </p>
                    </div>
                </article>
            </div>

           <footer id="footer" class="red-bg">
            <div class="flex justify-space-around">
                <div class="flex direction-column align-center">
                    <h2 class="footer-title">Contactos</h2>
                    <a href="" class="text-decoration-none black-txt">
                        Email
                        <i class="fas fa-at icon-footer"></i>
                    </a>
                    <a href="" class="text-decoration-none black-txt">
                        Telefono
                        <i class="fas fa-phone icon-footer"></i>
                    </a>
                </div>
                <div class="flex direction-column align-center">
                    <h2 class="footer-title">Redes sociales</h2>
                    <a href="" class="text-decoration-none black-txt">
                        Instagram
                        <i class="fab fa-instagram icon-footer"></i>
                    </a>

                    <a href="" class="text-decoration-none black-txt">
                        Facebook
                        <i class="fab fa-facebook icon-footer"></i>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
