#logo {
    width: 100%;
    max-width: 160px;
}
/*~~~~~~~~~~~~~~~~~~CARTS~~~~~~~~~~~~~~~~  */
.main-logo {
    width: 30%;
}
.hamburger-menu {
    color: #000000;
}
.main-menu {
    position: relative;
}
.menu-content {
    display: none;
    position: absolute;
    z-index: 10;
}
.nav-menu li {
    list-style-type: none;
}
.nav-menu a {
    text-decoration: none;
}
.box-position-relative {
    position: relative;
}
.box-position-absolute {
    position: absolute;
}
.justify-content-space-around {
    justify-content: space-around;
}
.text-aling-center {
    text-align: center;
}
.button-cart {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 3px;
}
.cart-button-direction {
    flex-direction: column;
}
.padding-bottom {
    padding-bottom: 80px;
}
.padding-top {
    padding-top: 10px;
}
.link-header {
    padding: 4px;
    border-radius: 15px;
    background-color: #ffffff;
}
.search-bar {
    width: 40%;
}
.search-bar input {
    width: 70%;
}
.fa-search {
    background-color: #ffffff;
    padding: 5px;
}
#main-nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav a {
    text-decoration: none;
    color: #000000;
}
/*.banner {
    width: 100%;
    display: block;
}*/

/*Carrusel*/
.slide-show {
    width: 1000px;
    margin: auto;
}
.menu {
    list-style-type: none;
    text-align: center;
    margin: 20px;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a {
    display: inline-block;
    background-color: gray;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.menu li a:hover {
    background-color: #e60026;
    transition: 0.5s;
}
ul.slider {
    position: relative;
    list-style: none;
    height: 250px;
    width: 1000px;
    padding: 0;
}
ul.slider li {
    position: absolute;
    opacity: 0;
    height: inherit;
    transition: 0.5s;
    background-color: white;
    left: 0;
    top: 0;
}
ul.slider li:first-child {
    opacity: 1;
}
ul.slider li:target {
    opacity: 1;
}
/* banner 
<div class="banner">
            <img src="/images/hardagamers.png" alt="banner" width="100%" />
        </div>*/
#main-content {
    padding: 0 5%;
}
.product {
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-detail {
    margin-top: 50px;
}

.product-img {
    width: 30%;
}

.product-img-detail {
    width: 40%;
    padding: 30px;
}
.rapid-search-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.rapid-search-icons i {
    font-size: 60px;
    color: #000000;
    text-decoration: none;
}
.rapid-search-icons a:hover i {
    color: #ff002b;
    transition: color, 500ms;
}
.rapid-search-icons a:hover div {
    color: #ff002b;
    transition: color, 500ms;
}
#footer {
    margin-top: 40px;
    padding: 15px;
}
.footer-title {
    margin-top: 0;
}
.icon-footer {
    font-size: 20px;
}

/*form*/
.form-title {
    font-size: 30px;
}
.form-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.form-input {
    width: 100%;
    border: none;
    padding: 10px;
}
.form-box {
    margin-bottom: 20px;
}
.main-form {
    margin-top: 40px;
}
.login {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.button-form {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    color: #ffffff;
}
.login .button-form {
    width: 100%;
}
.register .button-form {
    width: 40%;
}

.detail.button-form {
    width: 45%;
    border-radius: 5px;
}
