#logo {
    width: 100%;
    max-width: 160px;
}
/*----------------Hamburger menu--------------*/
.container-menu {
    position: fixed;
    max-width: 0px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 80px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 6px;
    transition: 300ms;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.item {
    display: block;
    text-decoration: none;
    color: red;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    transform: translateX(-30px);
    position: relative;
    opacity: 0;
    transition: all 300ms;
}
.item::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 0px;
    height: 100%;
    background: red;
}
.item:hover::before {
    width: 6px;
    color: royalblue;
}
.toggle-check:checked ~ .container-menu {
    max-width: 200px;
}
.toggle-check:checked ~ .container-menu .item {
    opacity: 1;
    transition-delay: 150ms;
    transform: translateX(0);
}
/*~~~~~~~~~~~~~~~~~~CARTS~~~~~~~~~~~~~~~~  */
.main-logo {
    width: 30%;
}
.box-position-relative {
    position: relative;
}
.box-position-absolute {
    position: absolute;
}
.justify-content-space-around {
    justify-content: space-around;
}
.text-aling-center {
    text-align: center;
}
.button-cart {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 3px;
}
.cart-button-direction {
    flex-direction: column;
}
.padding-bottom {
    padding-bottom: 80px;
}
.padding-top {
    padding-top: 10px;
}
.link-header {
    padding: 4px;
    border-radius: 15px;
    background-color: #ffffff;
}
.search-bar {
    width: 40%;
}
.search-bar input {
    width: 70%;
}
.fa-search {
    background-color: #ffffff;
    padding: 5px;
}
#main-nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav a {
    text-decoration: none;
    color: #000000;
}
/*-------------------Carrusel--------------------*/
.main-logo {
    width: 30%;
}
.box-position-relative {
    position: relative;
}
.box-position-absolute {
    position: absolute;
}
.justify-content-space-around {
    justify-content: space-around;
}
.text-aling-center {
    text-align: center;
}
.button-cart {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 3px;
}
.cart-button-direction {
    flex-direction: column;
}
.padding-bottom {
    padding-bottom: 80px;
}
.padding-top {
    padding-top: 10px;
}
.link-header {
    padding: 4px;
    border-radius: 15px;
    background-color: #ffffff;
}
.search-bar {
    width: 40%;
}
.search-bar input {
    width: 70%;
}
.fa-search {
    background-color: #ffffff;
    padding: 5px;
}
#main-nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav a {
    text-decoration: none;
    color: #000000;
}
/*Carrusel*/
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .item-slide img {
    width: 100%;
}
.container-all {
    position: relative;
    max-width: 1300px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hover {
    transform: scale(2);
}
.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: white;
}
input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: white;
}
input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: white;
}
input[id="4"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"] {
    background: white;
}
@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
#main-content {
    padding: 0 15%;
}
.product {
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-detail {
    margin-top: 50px;
}

.product-img {
    width: 30%;
}

.product-img-detail {
    width: 40%;
    padding: 30px;
}
.rapid-search-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.rapid-search-icons i {
    font-size: 40px;
    color: #000000;
    text-decoration: none;
}
.rapid-search-icons a:hover i {
    color: #ff002b;
    transition: color, 500ms;
}
.rapid-search-icons a:hover div {
    color: #ff002b;
    transition: color, 500ms;
}
#footer {
    margin-top: 40px;
    padding: 15px;
}
.footer-title {
    margin-top: 0;
}
.icon-footer {
    font-size: 20px;
}

/*form*/
.form-title {
    font-size: 30px;
}
.form-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.form-input {
    width: 100%;
    border: none;
    padding: 10px;
}
.form-box {
    margin-bottom: 20px;
}
.main-form {
    margin-top: 40px;
}
.login {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.button-form {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    color: #ffffff;
}
.login .button-form {
    width: 100%;
}
.register .button-form {
    width: 40%;
}

.detail.button-form {
    width: 45%;
    border-radius: 5px;
}
