* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
}
.w-30 {
    width: 30%;
}
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.padding-8{
    padding: 8px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.direction-column{
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around{
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.text-decoration-none{
    text-decoration: none;
}
.hide{
    display: none;
}