<header class="padding-8 red-bg">
    <div class="flex justify-space-between align-center">
        <div class="flex justify-space-between align-center hide-md">
            <input type="checkbox" class="toggle-check" id="toggle" hidden />
            <label class="toggle" for="toggle">
                <i
                    class="fas fa-ellipsis-v burger-menu font-size-20 black.txt"
                ></i>
            </label>
            <div class="container-menu">
                <nav class="menu">
                    <a href="#" class="item">Mothers</a>
                    <a href="#" class="item">Procesadores</a>
                    <a href="#" class="item">Fuentes</a>
                    <a href="#" class="item">Placas de video</a>
                    <a href="#" class="item">Perifericos</a>
                </nav>
            </div>
        </div>
        <a href="/" class="main-logo">
            <img id="logo" src="/images/logo.png" alt="Logo" />
        </a>
        <div class="search-bar">
            <form method="GET" action="/product/results">
                <label class="" for="search">
                    <i class="fas fa-search"></i>
                </label>
                <input
                    id="search"
                    type="text"
                    name="search"
                    placeholder="Motherboards, gráficas, etc."
                />
            </form>
        </div>
        <a
            class="cart text-decoration-none font-size-20 black-txt"
            href="/user/cart"
        >
            <i class="fas fa-shopping-cart"></i>
        </a>
        <% if (locals.isLogged) {%>
        <a
            class="
                link-header
                text-decoration-none
                font-size-20
                black-txt
            "
            href="#userMenu"
            data-bs-toggle="collapse"
            role="button"
            aria-controls="userMenu"
        >
            <%= locals.userLogged.user_name %>
        </a>
        <div class="collapse collapse-horizontal" id="userMenu">
        </div>
        <% } else{%>
        <a
            class="link-header text-decoration-none font-size-20 black-txt"
            href="/user/login"
        >
            Log in
        </a>
        <a
            class="
                link-header
                text-decoration-none
                font-size-20
                black-txt
                hide
                show-md
            "
            href="/user/register"
        >
            Registrarse
        </a>
        <% } %>
    </div>
    <nav id="main-nav" class="hide show-md">
        <ul class="w-50 margin-auto flex justify-space-between">
            <li><a href="#">Mothers</a></li>
            <li><a href="#">Procesadores</a></li>
            <li><a href="#">Fuentes</a></li>
            <li><a href="#">Placa de video</a></li>
            <li><a href="#">Perifericos</a></li>
        </ul>
    </nav>
    <script type="text/javascript" src="/js/main.js"></script>
</header>
