<div class="carousel">
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden />
        <input type="radio" id="2" name="image-slide" hidden />
        <input type="radio" id="3" name="image-slide" hidden />
        <input type="radio" id="4" name="image-slide" hidden />

        <div class="slide">
            <div class="item-slide">
                <img src="/images/G5-1920x500-1.jpg" />
            </div>
            <div class="item-slide">
                <img src="/images/Aero-1920x500-1.jpg" />
            </div>
            <div class="item-slide">
                <img src="/images/Asus-slider-aura.jpg" />
            </div>
            <div class="item-slide">
                <img src="/images/Precio-Calidad.jpg" />
            </div>
        </div>

        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="/images/G5-1920x500-1.jpg" />
            </label>
            <label for="2" class="pagination-item">
                <img src="/images/Aero-1920x500-1.jpg" />
            </label>
            <label for="3" class="pagination-item">
                <img src="/images/Asus-slider-aura.jpg" />
            </label>
            <label for="4" class="pagination-item">
                <img src="/images/Precio-Calidad.jpg" />
            </label>
        </div>
    </div>
</div>
